@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  background:#e3e3e3;
  height:100%;
  margin:0;
  font-family:Roboto, sans-serif;
}

h1 {
  font-size:24px;
  font-weight:bold;
  display:inline-block;
  margin-left:50px;
}

h2 {
  font-size:22px;
  font-weight:normal;
  font-style: italic;
  display:inline-block;
}

h3 {
  font-size:14px;
  line-height:10px;
}

h4 {
  font-size:12px;
  font-weight:normal;
  color:#666;
  margin:0;
}

hr {
  border-top:1px #ccc solid;
  border-bottom:none;
}

sup a {
  cursor:pointer;
  color:#48e;
  text-decoration:none;
}

li {
  transition:0.5s;
  padding:5px;
}

li.selected {
  background:#ddd;
}

a.anchor {
  display:block;
  position:relative;
  visability:hidden;
  top:-120px;
}

.box {
  background:#f4f4f4;
  margin:10px;
  padding:10px;
  border-radius:3px;
  box-shadow:0 0 6px 1px rgba(0,0,0,0.125);
  transition:0.2s;
  overflow:auto;
}

.ref-box {
  background:#fff;
  box-shadow:0 0 6px 2px rgba(0,0,0,0.25);
  border:1px solid #eee;
  border-radius:2px;
  position:absolute;
  padding:5px;
  display:none;
  font-size:14px;
  font-style:italic;
}

.ref-box hr {
  margin:5px 0;
}

.box:hover {
  box-shadow:0 0 6px 1px rgba(0,0,0,0.25);
}

.box br {
  display:block;
  height:200px;
}

#header {
  background: #fff;
  width:100%;
  height: 60px;
  position:fixed;
  top:0;
}

#navigator {
  text-align:center;
  background:#f2f2f2;
  padding:10px 0 7px 0;
  border-bottom:1px solid #e0e0e0;
  position:fixed;
  top:60px;
  height:30px;
  width:100%;
}

#sub-navigator {
  text-align:center;
  background:#e9e9e9;
  padding:5px 0;
  position:fixed;
  top:108px;
  width:100%;
  border-bottom:1px solid #d8d8d8;
  font-size:14px;
}

#links a {
  text-decoration:none;
  margin:0 40px;
  height:25px;
  line-height:25px;
  display:inline-block;
  color:#777;
  border-bottom:2px solid rgba(0,0,0,0);
  transition:0.3s;
}

#links a:hover {
  border-bottom-color:#48e;
  color:#111;
}

#sub-links a {
  text-decoration:none;
  margin: 0 20px;
  height:20px;
  line-height:20px;
  display:inline-block;
  color:#999;
  border-bottom:1px solid rgba(0,0,0,0);
  transition:0.3s;
  cursor:pointer;
}

#sub-links a:hover {
  border-bottom-color:#6af;
  color:#444;
}

#content {
  width:800px;
  margin:150px auto;
}

#content p, #content ol, #content ul {
  font-size:14px;
}

#content span {
  font-family:monospace;
}

#footer {
  margin:-5px 15px;
  color:#999;
  font-size:12px;
}

#footer span:first-of-type {
  float:left;
}

#footer span:last-of-type {
  float:right;
}